<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC213 Todo</title>
</head>
<body>
  
<h1>Social todo app for cpsc213</h1>

{{#if errors}}
<ul style="color:red" class="errors">
  <div>
    {{errors}}
  </div>
</ul>
{{/if}}

{{#if currentUser}}
  <h2 class="welcome">Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>
          {{#if tasks}}
            <ul class="tasks">
            {{#each tasks}}
              <li class = "task">{{this.name}} <br\>
                {{#isequal this.owner ../currentUser._id}}
                  <form method ="post" action="/tasks/{{this._id}}/delete">
                    <input type="submit" class="delete" value="delete" />
                  </form>
                {{/isequal}}
                <form method ="post" action="/tasks/{{this._id}}/{{#if this.isComplete}}complete{{else}}incomplete{{/if}}">
                  {{#if this.isComplete}}
                    <div>
                      <input type="submit" class="toggle" value="Mark incomplete" />
                    </div>
                    <div>
                      Completed!
                    </div>
                  {{else}}
                    <div>
                      <input type="submit" class="toggle" id="incomplete" value="Mark complete" />
                    </div>
                    <div>
                      Not complete!
                    </div>
                  {{/if}} 
                </form>
              </li>
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form method = "post" class="createTask" action="/task/create">
            Task name<input type="text" name="name" id="name" value="" placeholder="" /> <br/>
            Task Description<input type="text" name="description" id="description" value="" placeholder="" /> <br/>
            Collaborators <br/>
            <input type="email" name="collaborator1" id="collaborator1" value="" placeholder="" /><br/>
            <input type="email" name="collaborator2" id="collaborator2" value="" placeholder="" /><br/>
            <input type="email" name="collaborator3" id="collaborator3" value="" placeholder="" /><br/>
            <input type="submit" class="submit" value="Submit" />
        </form>
    </div>

{{else}}
<div>
  <form method="post" class="login" action="/user/login">
			Email <input type="email" name="email" id="email" value="" placeholder="" /> <br/>
			Password <input type="password" name="password" id="password" value="" placeholder="" /> <br/>
		  <input type="submit" value="Submit" />
	</form>
</div>

<div><hr></div>

<div>
  <form method="post" class="register" action="/user/register">
			<input type="text" name="name" id="name" value="" placeholder="first & last name" />
			<input type="email" name="email" id="newemail" value="" placeholder="email" />
			<input type="password" name="password" id="newpassword" value="" placeholder="password" />
			<input type="password" name="passwordConfirmation" id="confirmpassword" value="" placeholder="password confirmation" />
			<input type="submit" value="Submit" />
	</form>
</div>
{{/if}}

<footer>
    <a href="/user/logout" class="logout">Logout</a>
</footer>
</body>
</html>
